* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: #1a1a1a;
  /* color: #000000;
    background: linear-gradient(135deg, #e0f7fa, #e1f5fe); */
  min-height: 100vh;
  width: 100%;
  line-height: 1.6;
}
.logo {
  text-decoration: none;
  color: #ffffff;
  margin-left: 2rem;
  font-size: 1.8rem;
  font-weight: bold
}
.logo span {
  color: #F7C85A;
}
nav .logo img {
  height: 50px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease; 
}
nav a:hover {
  color: #ffcc00;
  text-decoration: underline;
}
h1{
    text-align: center;
    margin-top: 1rem;
    color: #F7C85A;
}

#btn {
    margin: 20px ;
}
.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.card {
  border-radius: 30px;
  transition: transform 0.3s ease;
  padding: 30px;
  margin: 20px ;
 ;
}
.card:hover {
  transform: translateY(-10px);
}
.card-body {
  padding-bottom: 0; 
  margin-bottom: -1rem;
  padding: 10px;
}

.card-body p {
  margin-bottom: 0px; 
}
